@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

img {
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-time {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 340px;
    background-color: white;
    border-radius: 6px;
    padding-left: 10px;
}

.numbers {
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.numer-green {
    color: #c5fb01;
}

.container-button {
    margin-top: 20px;
    text-align: center;
}

.buttton {
    color: #c5fb01;
    padding: 6px 16px;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#stop {
    color: red;
}

#reset {
    color: black;
}

.ativo {
    opacity: 0.5;
}